

body{
    background-color: blanchedalmond;
    font-family: Helvetica;
    
    
}
h1{
    text-align: center;
    font-size: 75px;
}

li{
    display: inline;
    border: solid black 3px;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
    background-color: cornsilk;
     
}
p{
    background-color: cornsilk;
}

#smallPic{
    width: 500px;
    height: 700px;
}